# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Environment variables
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# SQLite (if used)
*.sqlite3

# Test coverage
.coverage
htmlcov/

node_modules/